header {
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header section, 
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button img, 
.header__icons {
  block-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  block-size: 48px;
  margin-inline-start: 24px;
}

.menu__button img {
  block-size: 24px;
}

.search__container {
  display: flex;
  justify-content: space-between;
}

.search__container__input {
  background-color: #fff;
  border-radius: 21px;
  border: 1px solid #C6C6C6;
  block-size: 42px;
  inline-size: 600px;
  display: flex;
  justify-content: space-between;
  padding-inline-start: 20px;
}

.search__container__input input {
  border: none;
  font-size: 16px;
}

.search__container__input input:focus {
  outline: none;
}

.search {
  background-color: #F0F0F0;
  block-size: 100%;
  inline-size: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 31px 31px 0;
}

.search:hover {
  background-color: #D9D9D9;
  cursor: pointer;
}

.mic__icon {
  margin-inline-start: 16px;
  background-color: #F0F0F0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 40px;
  inline-size: 40px;
}

.mic__icon img {
  block-size: 20px;
}

.profile button+button {
  margin-inline-end: 8px;
}

.perfil__photo {
  object-fit: cover;
  block-size: 36px;
  inline-size: 36px;
  border-radius: 18px;
  margin-inline-start: 6px;
}

.hover__background {
  block-size: 40px;
  width: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover__background:hover {
  background-color: #F0F0F0;
}

.mic__icon,
.perfil__photo,
.logo:hover {
  cursor: pointer;
}